/* Importer la police */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
margin: 0;
padding:0;
}

a {
    text-decoration: none;
    color: black;
  }

  ul {
    list-style-type: none;
  }

main{
  margin: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: none;
	}

  h1 {
      font-weight:bold;
      font-size: 15px;
    }

h2 {
          font-weight: bold;
          font-size: 18px;
          margin-left: 20px;
          margin-top: 5px;
          margin-bottom: 5px;
        }

  h3 {
          font-weight: bold;
          font-size: 8px;
          margin: 0px;
        }

  p {
          font-weight: normal;
          font-size: 10px;
          margin: 0px;
        }

#grill {
height: 100vh;
display:grid;
grid-template-columns: 2fr 1fr;
grid-template-rows: 1fr 3fr 4fr 3fr 1fr;
grid-template-areas:
"header header"
"section section"
"article1 aside"
"article2 article2"
"footer footer"
;
grid-gap: 5px;
}

.content {
padding: 5px;
}

header {
grid-area: header;
height: 30px;
}

#mainNav {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-areas:
"logo divNone nav1 nav2"
;
}

#mainNav button {
          background-color: transparent;
          cursor:pointer;
          overflow: hidden;
          outline:none;
}

figcaption {
grid-area: logo;
margin-left: 70px;
}

div.menu {
grid-area: divNone;
}

nav.nav1 {
grid-area: nav1;
}

.top1 {
color: #0065fc;
border: transparent;
padding: 0px;
margin: 0px;
}

.top2 {
      color: black;
      border: transparent;
      padding: 0px;
      margin: 0px;
      }

nav.nav2 {
grid-area: nav2;
}

.top3 {
        border: transparent;
        color: #0065fc;
        font-weight: bold;
        padding: 0px;
        margin: 0px;
      }

section {
grid-area:section;
}

#slogan p {
  font-weight: normal;
  font-size: 10px;
  margin-bottom: 15px;
}

/* Mise en forme boutons filtres */
#filters button {
    display: flex;
    border: transparent;
    color: black;
    background-color:transparent;
    outline:none;
    }

/* Mise en forme effet au survol des filtres */
#filters a :hover {
    color: #0065fc;
    text-decoration:none;
    outline: none;
    }

/* Mise en forme de l'ensemble filtre */
#filters {
  display: flex;
  justify-content: flex-start;
  justify-content:left;
  justify-content: space-between;
  width: 730px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 1px;
  text-align: center;
  }

/* Mise en forme texte filtre*/
#filters h2 {
  font-size: 10px;
  margin-left: 0px;
  }

/* Mise en forme filtres un à un */
.filter {
    display: flex;
    justify-content: flex-start;
    justify-content: left;
    border: 1px solid #DEEBFF;
    border-radius: 25px / 25px;
    padding-left: 0px;
    padding-right: 10px;
    margin:auto;
  }

.filter button {
  height: 20px;
  width: auto;
  font-weight: bold;
  font-size: 12px;
  padding-top: 4px;
  }

/* Icon filtres */
.icon {
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 20px;
    height: auto;
    border: 3px solid #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 25px / 25px;
    }

	/* Bouton recherche dans son ensemble */
.search {
display: flex;
width: auto;
background-color: transparent;
align-items: center;
}

/* Logo recherche */
.logorecherche {
    text-align: center;
    background-color: #f2f2f2;
    color:black;
    width: 30px;
    height: 27px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0px;
    padding: 0px;
    }

/* Input Marseille, France */
input {
    width: auto;
    height: 23px;
    border: 1px solid #f2f2f2;
    font-weight: bolder;
    padding-left: 5px;
    margin: 0px;
    padding-right: 0px;
    font-size: 12px;
    }

/* Bouton Rechercher*/
.button1 button{
    width: 70px;
    height: 25px;
    border: 2px solid #0065fc;
    background-color: #0065fc;
    color: #ffffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0px;
    padding: 0px;
    font-size:10px;
    }

.button1 i {
  display:none;
  }

/* Mise en forme Info sous les filtres */
#info{
  display: flex;
  width: auto;
  align-items: center;
  margin-bottom: 8px;
  }

  #info p {
  padding-top: 5px;
  font-size: 10px;
  margin-left: 8px;
  }

.infologo i {
    text-align: center;
    background-color:#ffffff;
    border: 2px solid #f2f2f2;
    width:12px;
    height: 10px;
    border-radius: 25px / 25px;
    margin-top: 0px;
    padding-top: 3px;
  }


article.article1 {
grid-area: article1;
}

#article1 {
display: grid;
grid-template-rows: 1fr 4fr 1fr;
}

.article1 {
	border-radius: 20px;
    background-color: #f2f2f2;
    justify-content: space-around;
    overflow: hidden;
    margin-top: 5px;
}

div.tittleHosting {
padding-top: 10px;
font-size: 15px;
font-weight: bold;
}

#articleHosting {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-gap: 4px;
}

article.articleHosting {
padding: 2px;
}

.articleHosting  img{
padding: 5px;
width: auto;
height: 115px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

  /* Mise en forme des cards*/
div.cardHosting1 {
/* card1*/
border-radius: 20px;
background-color: #ffffff;
margin: 20px;
overflow:hidden;
}

div.cardHosting2 {
	/* card2 */
border-radius: 20px;
background-color: #ffffff;
margin: 20px;
overflow:hidden;
}

div.cardHosting3 {
/* card3*/
border-radius: 20px;
background-color: #ffffff;
margin: 20px;
overflow:hidden;
}

div.cardHosting4{
/* card4*/
border-radius: 20px;
background-color: #ffffff;
margin: 20px;
overflow:hidden;
}

div.cardHosting5 {
/* card5*/
border-radius: 20px;
background-color: #ffffff;
margin: 20px;
overflow:hidden;
}

div.cardHosting6 {
/* card6*/
border-radius: 20px;
background-color: #ffffff;
margin: 20px;
overflow:hidden;
}

#articleHosting figure {
margin: 0;
}

#articleHosting h3 {
	text-align: left;
	padding-left: 10px;
  padding-top: 5px;
  font-size: 10px;
  font-weight: bold;
}

#articleHosting p {
  text-align: left;
  display:flex;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 10px;
}

#articleHosting p strong
{
  font-weight: bold;
  padding-left: 1px;
}

#articleHosting .stars {
    text-align: left;
    display:flex;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 8px;
  }

div.moreLink {
height: 30px;
text-align: left;
padding-left: 50px;
padding-top:20px;
font-weight: bold;
 font-size: 12px;
}

#asideArticle {
display: grid;
grid-template-rows: 1fr 3fr;
grid-gap: 2px;
}

div.titleAside {
	height: 20px;
padding-top: 20px;
    font-weight: bold;
    padding-left: 10px;
    font-size: 15px;
}

aside {
grid-area: aside;
}

aside.asideArticle {
	margin: 5px;
border-radius: 20px;
background-color: #f2f2f2;
}

aside.asideArticle figure{
margin:0px;
}

#asideCard {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 6px;
}

.asideCard {
padding: 6px;
}

.cardAside1 {
	border-radius: 20px;
    background-color: #ffffff;
    overflow: hidden;
    padding: 5px;
}

.cardAside2 {
border-radius: 20px;
    background-color: #ffffff;
    overflow: hidden;
    padding: 5px;
}

.cardAside3 {
border-radius: 20px;
    background-color: #ffffff;
    overflow: hidden;
    padding: 5px;
}

#asideCard img {
float: left;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
	width: auto;
	height: 133px;
    overflow: hidden;
    padding: 5px;
}

#asideCard h3 {
margin-left: 10px;
  padding-top: 10px;
  font-size: 10px;
}

#asideCard p {
padding-left: 10px;
    font-size: 10px;
}

#asideCard .stars {
padding-left: 10px;
  font-size: 8px;
  padding-top: 90px;
}

article.article2 {
grid-area: article2;
}

#article2 {
background-color: blue;
display: grid;
grid-template-rows: 1fr 5fr;
}

div.activitiesTitle {
height: 30px;
padding-top: 10px;
font-size: 15px;
font-weight: bold;
}

#article2Card {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas:
"cardAct1 cardAct2 cardAct4 cardAct5"
"cardAct1 cardAct3 cardAct4 cardAct6"
;
grid-gap: 4px;
}

.cardAct1 {
grid-area: cardAct1;
border: 1px solid black;
    border-radius: 10px;
}

.cardAct2 {
	/* Effacer START */
	background-color: aqua;
	/* Effeceer END */
	grid-area: cardAct2;
}

.cardAct3 {
	/* Effacer START */
	background-color: brown;
	/* Effeceer END */
	grid-area: cardAct3;
}

.cardAct4 {
	/* Effacer START */
	background-color: chocolate;
	/* Effeceer END */
	grid-area: cardAct4;
}

.cardAct5 {
	/* Effacer START */
	background-color: darkcyan;
	/* Effeceer END */
	grid-area: cardAct5;
}

.cardAct6 {
	/* Effacer START */
	background-color: bisque;
	/* Effeceer END */
	grid-area: cardAct6;
}

article.article2Card {
/* Effacer START */
background-color:chartreuse;
/* Effeceer END */
}

footer{
	/* Code à supprimer après le dev START */
background-color:darkorchid;
/* Code à supprimer aprèss END*/
grid-area: footer;
}

@media screen and (min-width:600px) and (max-width:980px)
{

#articleHosting {
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-gap: 4px;
}

/*
#article2Card {
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas:
"cardAct1 cardAct2"
"cardAct1 cardAct3"
"cardAct4 cardAct5"
"cardAct4 cardAct6"
;
}
*/

}

@media screen and (max-width:600px)
{
#grill {
grid-template-columns: 1fr;
grid-template-rows: 1fr 3fr 4fr 3fr 1fr;
grid-template-areas:
"header"
"section"
"aside"
"article1"
"article2"
"footer"
;
}

#mainNav {
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas:
"logo nav2"
"nav1 nav1"
;
}

div.menu {
display: none;
}

#articleHosting {
grid-template-columns: 1fr;
grid-gap: 4px;
}

#article2Card {
grid-template-columns: 1fr;
grid-template-areas:
"cardAct1"
"cardAct2"
"cardAct3"
"cardAct4"
"cardAct5"
"cardAct6"
;
}
}
